.products-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%; 
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
  width: 100%; 
}

.table-container {
  width: 90%;
  flex-direction: column; 
  margin: 0 auto;
}

.enhanced-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.table-header {
  background: linear-gradient(to bottom, silver, black);
  color: white;
}

.table-cell {
  border: 1px solid silver;
  padding: 10px;
}

.table-cell-issuingcountry {
  width: 150px; 
}

.table-cell-producer {
  width: 150px; 
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 80%; 
  gap: 0px;
}

.action-button {
  padding: 10px 30px;
  border: 1px solid silver;
  border-radius: 5px;
  background: linear-gradient(to bottom, silver, black);
  color: white;
  cursor: pointer;
  opacity: 1;
}

.action-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.action-button:hover {
  background: linear-gradient(to bottom, gold, black);
}